Repository zowe/api-layer, pull requests merged in 2019-12, with the labels that each got.

#440 OpenAPI 3.0 support
  api-catalog-services/build.gradle
  api-catalog-services/src/main/java/com/ca/mfaas/apicatalog/services/cached/model/ApiDocInfo.java
  api-catalog-services/src/main/java/com/ca/mfaas/apicatalog/swagger/TransformApiDocService.java
  api-catalog-services/src/main/java/com/ca/mfaas/apicatalog/swagger/api/AbstractApiDocService.java
  api-catalog-services/src/main/java/com/ca/mfaas/apicatalog/swagger/api/ApiDocPath.java
  api-catalog-services/src/main/java/com/ca/mfaas/apicatalog/swagger/api/ApiDocV2Service.java
  api-catalog-services/src/main/java/com/ca/mfaas/apicatalog/swagger/api/ApiDocV3Service.java
  api-catalog-services/src/main/java/com/ca/mfaas/apicatalog/swagger/api/ApiTransformationConfig.java
  api-catalog-services/src/main/java/com/ca/mfaas/apicatalog/swagger/api/OpenApiUtil.java
  api-catalog-services/src/test/java/com/ca/mfaas/apicatalog/swagger/TransformApiDocServiceTest.java
  api-catalog-services/src/test/java/com/ca/mfaas/apicatalog/swagger/api/AbstractApiDocServiceTest.java
  api-catalog-services/src/test/java/com/ca/mfaas/apicatalog/swagger/api/ApiDocV2ServiceTest.java
  api-catalog-services/src/test/java/com/ca/mfaas/apicatalog/swagger/api/ApiDocV3ServiceTest.java
  api-catalog-services/src/test/java/com/ca/mfaas/apicatalog/swagger/api/ApiTransformationConfigTest.java
  api-catalog-services/src/test/java/com/ca/mfaas/apicatalog/swagger/api/dummy/DummyApiDocService.java
  api-catalog-ui/frontend/src/components/Swagger/Swagger.css
  api-catalog-ui/frontend/src/e2e/e2e.test.jsx
  build.gradle
  discovery-service/build.gradle
  discovery-service/src/main/java/com/ca/mfaas/discovery/staticdef/StaticApiRestController.java
  docs/conformance.md
  gateway-service/build.gradle
  gateway-service/src/main/resources/gateway-api-doc.json
  gradle/versions.gradle
  helloworld-jersey/build.gradle
  helloworld-jersey/src/main/java/com/ca/hwsjersey/resource/DiscoveryController.java
  helloworld-jersey/src/main/java/com/ca/hwsjersey/resource/GreetingController.java
  helloworld-jersey/src/main/resources/openapi-configuration.yaml
  helloworld-jersey/src/main/resources/service-configuration.yml
  helloworld-jersey/src/main/webapp/WEB-INF/web.xml
  integration-enabler-java/build.gradle
Labels: passed CA tests

#443 E2E Migration from Puppetteer to Cypress
  api-catalog-ui/frontend/README.md
  api-catalog-ui/frontend/cypress.json
  api-catalog-ui/frontend/cypress/integration/e2e/dashboard/dashboard.test.js
  api-catalog-ui/frontend/cypress/integration/e2e/detail-page/detail-page.test.js
  api-catalog-ui/frontend/cypress/integration/e2e/login/login-bad.test.js
  api-catalog-ui/frontend/cypress/integration/e2e/login/login-ok.test.js
  api-catalog-ui/frontend/cypress/integration/mocked-e2e/dashboard/dashboard.test.js
  api-catalog-ui/frontend/cypress/integration/mocked-e2e/detail/detail.test.js
  api-catalog-ui/frontend/cypress/integration/mocked-e2e/login/login-bad.test.js
  api-catalog-ui/frontend/cypress/integration/mocked-e2e/login/login-ok.test.js
  api-catalog-ui/frontend/galen.config
  api-catalog-ui/frontend/package.json
  api-catalog-ui/frontend/pnpm-lock.yaml
  api-catalog-ui/frontend/src/components/Login/Login.jsx
  api-catalog-ui/frontend/src/components/Login/Login.test.jsx
  api-catalog-ui/frontend/src/e2e/README.md
  api-catalog-ui/frontend/src/e2e/e2e.test.jsx
  api-catalog-ui/frontend/src/error-messages.json
Labels: failed CA tests

#428 Changed integration tests
  integration-tests/build.gradle
  integration-tests/src/test/java/com/ca/mfaas/apicatalog/ApiCatalogSecurityIntegrationTest.java
  integration-tests/src/test/java/com/ca/mfaas/discoveryservice/EurekaInstancesIntegrationTest.java
  integration-tests/src/test/java/com/ca/mfaas/gatewayservice/GatewaySecurityTest.java
  integration-tests/src/test/java/com/ca/mfaas/gatewayservice/SecurityUtils.java
  integration-tests/src/test/java/com/ca/mfaas/startup/impl/ApiMediationLayerStartupChecker.java
  integration-tests/src/test/java/com/ca/mfaas/util/http/HttpSecurityUtils.java
  integration-tests/src/test/resources/logback.xml
Labels: passed CA tests

#458 Fixed integration tests
  integration-tests/src/test/java/com/ca/mfaas/apicatalog/ApiCatalogSecurityIntegrationTest.java
  integration-tests/src/test/java/com/ca/mfaas/gatewayservice/GatewaySecurityTest.java
Labels: passed CA tests

#459 Update spring dependencies
  api-catalog-services/build.gradle
  api-catalog-services/src/main/java/com/ca/mfaas/apicatalog/ApiCatalogApplication.java
  api-catalog-services/src/main/java/com/ca/mfaas/apicatalog/controllers/api/CatalogApiDocController.java
  api-catalog-services/src/test/java/com/ca/mfaas/apicatalog/controllers/api/CatalogApiDocControllerTest.java
  api-catalog-ui/frontend/mocked-backend/assets/apidoc/apicatalog.json
  api-catalog-ui/frontend/mocked-backend/assets/services/apicatalog.json
  apiml-common/src/main/java/com/ca/mfaas/product/logging/ApimlDependencyLogHider.java
  apiml-common/src/main/java/com/ca/mfaas/product/security/WebServerSecurityConfig.java
  gateway-service/build.gradle
  gradle/versions.gradle
  integration-tests/src/test/java/com/ca/mfaas/apicatalog/ApiCatalogEndpointIntegrationTest.java
  integration-tests/src/test/java/com/ca/mfaas/ws/WebSocketProxyTest.java
Labels: Please review!, passed CA tests

#464 Fix startup command for Sample Client
  docs/local-configuration.md
Labels: under CA testing
