Repository zowe/api-layer, pull requests merged in 2020-01, with the labels that each got.

#456 Switch to zowe artifactory
  Jenkinsfile
  docs/release.md
  gradle.properties
Labels: failed CA tests

#461 Make a variable from hardcoded trustore and key password
  zowe-install/src/main/resources/component-scripts/start.sh
Labels: shell script

#457 Add support for external_static_def
  zowe-install/src/main/resources/component-scripts/start.sh
Labels: shell script, under CA testing

#463 add setContentCompressionEnabled false req config
  discoverable-client/src/main/java/com/ca/mfaas/client/api/FileController.java
  discoverable-client/src/main/resources/api-catalog.png
  discoverable-client/src/main/resources/application.yml
  discoverable-client/src/test/java/com/ca/mfaas/client/api/FileControllerTest.java
  gateway-service/src/main/java/com/ca/mfaas/gateway/ribbon/GatewayRibbonLoadBalancingHttpClient.java
  integration-tests/src/test/java/com/ca/mfaas/discoverableclient/DownloadApiIntegrationTest.java
Labels: passed CA tests

#467 Iframe app
  zowe-install/src/main/resources/component-scripts/configure.sh
  zowe-install/src/main/resources/component-scripts/validate.sh
Labels: failed CA tests, shell script

#470 Run APIML build on docker swarm
  Jenkinsfile
Labels: passed CA tests

#471 apiml-auth metadata for session expiration & use of zowe logger
  apiml-auth/lib/apimlAuth.js
  apiml-auth/pluginDefinition.json
Labels: passed CA tests

#454 Change multipart controller
  discoverable-client/src/main/java/com/ca/mfaas/client/api/MultipartController.java
  discoverable-client/src/main/java/com/ca/mfaas/client/model/UploadFileResponse.java
  discoverable-client/src/test/java/com/ca/mfaas/client/api/MultipartControllerTest.java
  gateway-service/src/main/java/com/ca/mfaas/gateway/error/InternalServerErrorController.java
  integration-tests/src/test/java/com/ca/mfaas/discoverableclient/MultipartPutIntegrationTest.java
Labels: passed CA tests

#476 More stable builds
  Jenkinsfile
  build.gradle
  common-service-core/src/test/java/com/ca/mfaas/tomcat/TomcatHttpsTest.java
  gradle.properties
Labels: passed CA tests

#469 apiml_cm.sh script was moved to zowe/zowe-install-packaging
  Jenkinsfile
  README.md
  keystore/README.md
  scripts/apiml_cm.sh
  zowe-install/build.gradle
  zowe-install/src/main/resources/scripts/setup-apiml-certificates-template.sh
Labels: shell script, under CA testing

#484 Client certificate is not used when it is not needed
  apiml-common/src/main/java/com/ca/mfaas/product/web/HttpConfig.java
  common-service-core/src/main/java/com/ca/mfaas/security/HttpsFactory.java
  gateway-service/src/main/java/com/ca/mfaas/gateway/config/GatewayConfig.java
  gateway-service/src/main/java/com/ca/mfaas/gateway/ribbon/GatewayRibbonConfig.java
  gateway-service/src/main/java/com/ca/mfaas/gateway/security/login/zosmf/ZosmfAuthenticationProvider.java
Labels: passed CA tests
