Repository zowe/api-layer, pull requests merged in 2020-09, with the labels that each got.

#814 log SSLException in DefaultHostnameVerifier
  api-catalog-services/src/main/resources/application.yml
  discoverable-client/src/main/resources/application.yml
  discoverable-client/src/main/resources/logback.xml
  discovery-service/src/main/resources/application.yml
  gateway-service/src/main/resources/application.yml
Labels: size/S, under CA testing

#816 Protectors - Support HTTP only in ZAAS client
  discoverable-client/src/main/java/org/zowe/apiml/client/service/ZaasClientService.java
  integration-tests/src/test/java/org/zowe/apiml/zaasclient/ZaasClientIntegrationTest.java
  zaas-client/src/main/java/org/zowe/apiml/zaasclient/config/ConfigProperties.java
  zaas-client/src/main/java/org/zowe/apiml/zaasclient/service/internal/CloseableClientProvider.java
  zaas-client/src/main/java/org/zowe/apiml/zaasclient/service/internal/PassTicketServiceImpl.java
  zaas-client/src/main/java/org/zowe/apiml/zaasclient/service/internal/ZaasClientImpl.java
  zaas-client/src/main/java/org/zowe/apiml/zaasclient/service/internal/ZaasHttpClientProvider.java
  zaas-client/src/main/java/org/zowe/apiml/zaasclient/service/internal/ZaasHttpsClientProvider.java
  zaas-client/src/main/java/org/zowe/apiml/zaasclient/service/internal/ZaasJwtService.java
  zaas-client/src/test/java/org/zowe/apiml/zaasclient/service/internal/ZaasClientImplHttpTests.java
  zaas-client/src/test/java/org/zowe/apiml/zaasclient/service/internal/ZaasClientImplHttpsTests.java
  zaas-client/src/test/java/org/zowe/apiml/zaasclient/service/internal/ZaasClientTest.java
  zaas-client/src/test/java/org/zowe/apiml/zaasclient/service/internal/ZaasHttpClientProviderTests.java
  zaas-client/src/test/java/org/zowe/apiml/zaasclient/service/internal/ZaasHttpsClientProviderTests.java
Labels: passed CA tests

#826 actionable messages for tls error
  common-service-core/src/main/resources/core-log-messages.yml
Labels: size/XS, under CA testing

#829 X509 classes refactor
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/config/ComponentsConfiguration.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/login/x509/X509AuthenticationMapper.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/login/x509/X509AuthenticationProvider.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/login/x509/X509CommonNameUserMapper.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/login/x509/X509AuthenticationProviderTest.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/login/x509/X509CommonNameUserMapperTest.java
Labels: passed CA tests

#832 Rip/gh704/adjust client certificates
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/Login.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/LogoutTest.java
  integration-tests/src/test/resources/environment-configuration.yml
  keystore/README.md
  keystore/client_cert/APIMTST-PRIVATEKEY.key
  keystore/client_cert/APIMTST-cert.cer
  keystore/client_cert/APIMTST_APIML_External_Certificate_Authority_.cer
  keystore/client_cert/APIMTST_APIML_External_Certificate_Authority_.key
  keystore/client_cert/UNKNOWNUSER-PRIVATEKEY.key
  keystore/client_cert/UNKNOWNUSER-cert.cer
  keystore/client_cert/USER-PRIVATEKEY.key
  keystore/client_cert/USER-cert.cer
  keystore/client_cert/cert_key.p12
  keystore/client_cert/client-certs.p12
  keystore/client_cert/client_auth.cert.pem
  keystore/client_cert/client_auth.key.pem
  keystore/client_cert/openssl.conf
  keystore/localhost/localhost.truststore.p12
Labels: passed CA tests

#828 Refactor availability of the zOSMF
  discoverable-client/src/main/java/org/zowe/apiml/client/api/GreetingController.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/controllers/GatewayHomepageController.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/health/GatewayHealthIndicator.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/config/ComponentsConfiguration.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/login/Providers.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/service/zosmf/AbstractZosmfService.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/controllers/GatewayHomepageControllerTest.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/health/GatewayHealthIndicatorTest.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/login/ProvidersTest.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/service/zosmf/ZosmfServiceV1Test.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/service/zosmf/ZosmfServiceV2Test.java
Labels: passed CA tests

#809 Refactor ZosmfService to always try and use auth endpoint no matter the z/OS(MF) version
  gateway-service/src/main/java/org/zowe/apiml/gateway/controllers/AuthController.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/login/zosmf/ZosmfAuthenticationProvider.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/service/AuthenticationService.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/service/ZosmfService.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/service/schema/ZosmfScheme.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/service/zosmf/AbstractZosmfService.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/service/zosmf/ZosmfService.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/service/zosmf/ZosmfServiceFacade.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/service/zosmf/ZosmfServiceV1.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/service/zosmf/ZosmfServiceV2.java
  gateway-service/src/test/java/org/zowe/apiml/config/service/security/MockedAuthenticationServiceContext.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/controllers/AuthControllerTest.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/login/zosmf/ZosmfAuthenticationProviderTest.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/query/SuccessfulQueryHandlerTest.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/service/AuthenticationServiceTest.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/service/zosmf/ZosmfServiceFacadeTest.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/service/zosmf/ZosmfServiceTest.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/service/zosmf/ZosmfServiceV1Test.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/service/zosmf/ZosmfServiceV2Test.java
Labels: passed CA tests

#833 x509 additional integration tests
  build.gradle
  integration-tests/build.gradle
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/DummyLogoutTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/Login.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/LogoutTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/SafLogoutTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/ZosmfAuthenticationLoginIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/ZosmfLogoutTest.java
  integration-tests/src/test/java/org/zowe/apiml/startup/CheckEnvironment.java
  integration-tests/src/test/java/org/zowe/apiml/util/categories/EnvironmentCheck.java
Labels: passed CA tests, ready for CA testing

#836 Unblock IT user on EnvCheck
  integration-tests/src/test/java/org/zowe/apiml/startup/CheckEnvironment.java
Labels: passed CA tests

#823 Implement logout functionality in Zaas Client
  apiml-security-common/src/main/java/org/zowe/apiml/security/common/error/AuthExceptionHandler.java
  apiml-security-common/src/main/java/org/zowe/apiml/security/common/token/TokenFormatNotValidException.java
  apiml-security-common/src/test/java/org/zowe/apiml/security/common/error/AuthExceptionHandlerTest.java
  discoverable-client/src/main/java/org/zowe/apiml/client/api/ZaasClientTestController.java
  discoverable-client/src/main/java/org/zowe/apiml/client/configuration/ZaasClientConfig.java
  discoverable-client/src/main/java/org/zowe/apiml/client/service/ZaasClientService.java
  discoverable-client/src/test/java/org/zowe/apiml/client/api/ZaasClientTestControllerTest.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/config/JWTLogoutHandler.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/config/SecurityConfiguration.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/service/AuthenticationService.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/config/JWTLogoutHandlerTest.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/service/AuthenticationServiceTest.java
  integration-tests/src/test/java/org/zowe/apiml/discoverableclient/IntegratedZaasClientTest.java
  integration-tests/src/test/java/org/zowe/apiml/zaasclient/ZaasClientIntegrationTest.java
  zaas-client/README.md
  zaas-client/src/main/java/org/zowe/apiml/zaasclient/exception/ZaasClientErrorCodes.java
  zaas-client/src/main/java/org/zowe/apiml/zaasclient/service/ZaasClient.java
  zaas-client/src/main/java/org/zowe/apiml/zaasclient/service/internal/TokenService.java
  zaas-client/src/main/java/org/zowe/apiml/zaasclient/service/internal/ZaasClientImpl.java
  zaas-client/src/main/java/org/zowe/apiml/zaasclient/service/internal/ZaasHttpsClientProvider.java
  zaas-client/src/main/java/org/zowe/apiml/zaasclient/service/internal/ZaasJwtService.java
  zaas-client/src/main/resources/zaas-client-log-messages.yml
  zaas-client/src/test/java/org/zowe/apiml/zaasclient/service/internal/ZaasClientImplHttpsTests.java
  zaas-client/src/test/java/org/zowe/apiml/zaasclient/service/internal/ZaasClientTest.java
Labels: under CA testing

#835 Integration tests: Logout after every login
  Jenkinsfile
  integration-tests/build.gradle
  integration-tests/src/test/java/org/zowe/apiml/apicatalog/ApiCatalogHttpHeadersIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/apicatalog/ApiCatalogSecurityIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/discoveryservice/EurekaInstancesIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/AuthenticationOnDeploymentTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/GatewaySecurityTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/PassTicketTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/QueryIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/SecurityUtils.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/ZosmfSsoIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/DummyAuthenticationLoginIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/DummyLogoutTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/Login.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/LogoutTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/SafAuthenticationLoginIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/SafLogoutTest.java
  integration-tests/src/test/java/org/zowe/apiml/penetration/JwtPenTest.java
Labels: passed CA tests

#834 X509 Provider supports generation of Passticket for the zOSMF
  config/local/gateway-service.yml
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/login/Providers.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/login/x509/X509AuthenticationProvider.java
  gateway-service/src/main/resources/application.yml
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/login/x509/X509AuthenticationProviderTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/ZosmfAuthenticationLoginIntegrationTest.java
  package.json
  zowe-install/src/main/resources/component-scripts/start.sh
Labels: passed CA tests, ready for CA testing

#837 Ti message refactor
  api-catalog-services/src/main/resources/apicatalog-log-messages.yml
  apiml-common/src/main/resources/common-log-messages.yml
  apiml-security-common/src/main/resources/security-common-log-messages.yml
  apiml-utility/src/main/resources/utility-log-messages.yml
  common-service-core/src/main/resources/core-log-messages.yml
  discovery-service/src/main/resources/discovery-log-messages.yml
  gateway-service/src/main/resources/gateway-log-messages.yml
  gateway-service/src/test/java/org/zowe/apiml/gateway/error/check/RibbonRetryErrorCheckTest.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/filters/pre/EncodedCharactersFilterTest.java
  integration-tests/src/test/java/org/zowe/apiml/apicatalog/ApiCatalogLoginIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/discoverableclient/IntegratedZaasClientTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/PassTicketTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/Login.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/SafAuthenticationLoginIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/ZosmfAuthenticationLoginIntegrationTest.java
  security-service-client-spring/src/main/resources/security-client-log-messages.yml
Labels: docs, passed CA tests, size/M

#839 API Base Path in API Catalog
  api-catalog-services/src/main/java/org/zowe/apiml/apicatalog/model/APIService.java
  api-catalog-services/src/main/java/org/zowe/apiml/apicatalog/services/cached/CachedProductFamilyService.java
  api-catalog-services/src/main/resources/apicatalog-log-messages.yml
  api-catalog-services/src/test/java/org/zowe/apiml/apicatalog/controllers/api/ApiCatalogControllerTests.java
  api-catalog-services/src/test/java/org/zowe/apiml/apicatalog/services/cached/CachedProductFamilyTest.java
  api-catalog-services/src/test/java/org/zowe/apiml/apicatalog/services/status/ApiServiceStatusServiceTest.java
  api-catalog-services/src/test/java/org/zowe/apiml/apicatalog/util/ContainerServiceMockUtil.java
  api-catalog-ui/frontend/cypress/integration/e2e/detail-page/detail-page.test.js
  api-catalog-ui/frontend/cypress/integration/mocked-e2e/detail/detail.test.js
  api-catalog-ui/frontend/src/components/ServiceTab/ServiceTab.jsx
  api-catalog-ui/frontend/src/components/ServiceTab/ServiceTab.test.jsx
  api-catalog-ui/frontend/src/components/Swagger/Swagger.jsx
  api-catalog-ui/frontend/src/components/Swagger/Swagger.test.jsx
  apiml-common/src/main/java/org/zowe/apiml/product/routing/transform/TransformService.java
  apiml-common/src/test/java/org/zowe/apiml/product/routing/transform/TransformServiceTest.java
  common-service-core/src/main/java/org/zowe/apiml/product/routing/RoutedServices.java
  common-service-core/src/test/java/org/zowe/apiml/product/routing/RoutedServicesTest.java
  discovery-service/src/main/java/org/zowe/apiml/discovery/staticdef/ServiceDefinitionProcessor.java
Labels: passed CA tests

#847 Add further instructions on how to set up VSCode for APIML
  docs/vscode-setup.md
Labels: failed CA tests, size/XS

#846 run logout IT last
  integration-tests/build.gradle
  integration-tests/src/test/java/org/zowe/apiml/apicatalog/ApiCatalogHttpHeadersIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/apicatalog/ApiCatalogSecurityIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/discoverableclient/IntegratedZaasClientTest.java
  integration-tests/src/test/java/org/zowe/apiml/discoveryservice/EurekaInstancesIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/AuthenticationOnDeploymentTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/GatewaySecurityTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/PassTicketTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/QueryIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/ZosmfSsoIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/DummyAuthenticationLoginIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/DummyLogoutTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/Login.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/LogoutTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/SafAuthenticationLoginIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/SafLogoutTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/ZosmfAuthenticationLoginIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/ZosmfLogoutTest.java
  integration-tests/src/test/java/org/zowe/apiml/penetration/JwtPenTest.java
  integration-tests/src/test/java/org/zowe/apiml/util/categories/AuthenticationTest.java
Labels: passed CA tests, ready for CA testing

#851 fix IT: ZosmfAuthenticationLoginIntegrationTest
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/QueryIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/ZosmfSsoIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/ZosmfAuthenticationLoginIntegrationTest.java
  integration-tests/src/test/java/org/zowe/apiml/penetration/JwtPenTest.java
  integration-tests/src/test/java/org/zowe/apiml/startup/CheckEnvironment.java
Labels: passed CA tests

#848 Zss integration with apiml
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/config/ComponentsConfiguration.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/login/x509/X509AbstractMapper.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/login/x509/X509AuthenticationProvider.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/login/x509/X509CommonNameUserMapper.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/login/x509/X509ExternalMapper.java
  gateway-service/src/main/java/org/zowe/apiml/gateway/security/login/x509/model/CertMapperResponse.java
  gateway-service/src/main/resources/application.yml
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/login/x509/X509AuthenticationProviderTest.java
  gateway-service/src/test/java/org/zowe/apiml/gateway/security/login/x509/X509ExternalMapperTest.java
  gateway-service/src/test/resources/application.yml
  integration-tests/src/test/java/org/zowe/apiml/discoverableclient/IntegratedZaasClientTest.java
  integration-tests/src/test/java/org/zowe/apiml/gatewayservice/authentication/Login.java
  integration-tests/src/test/java/org/zowe/apiml/startup/CheckEnvironment.java
  zss-sample-service/README.md
  zss-sample-service/cert.der
  zss-sample-service/package.json
  zss-sample-service/server.js
Labels: passed CA tests

#854 Fix Swagger API Calls
  api-catalog-ui/frontend/cypress/integration/e2e/detail-page/detail-page.test.js
  api-catalog-ui/frontend/src/components/Swagger/Swagger.jsx
Labels: passed CA tests, size/S

#866 disable x509 as default
  gateway-service/src/main/resources/application.yml
Labels: size/XS, under CA testing
